{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-banner',
  'clearfix',
] %}

<section{{ attributes.addClass(classes) }}>
  {{ title_banner_prefix }}
  {% if label %}
    <h3{{ title_banner_attributes.addClass('block-title_banner') }}>{{ label }}</h3>
  {% endif %}
  {{ title_banner_suffix }}
  {% block content %}
    <div class="banner hover-grid-img">
      {% if(title_banner and title_display == 'before') %}
        {% if(link|render) %} <a href="{{ link }}"> {% endif %}
        <div class="title_banner title-display-{{ title_display }}">{{ title_banner }}</div>
        {% if(link|render) %} </a> {% endif %}
      {% endif %}
      {% if(text_banner and text_display == 'before') %}
        <div class="text_banner text-display-{{ text_display }}">{{ text_banner }}</div>
      {% endif %}
      {% if(link|render) %} <a href="{{ link }}"> {% endif %}
        {% if(image) %}
          <img class="banner-image"
               src="{{ file_url(image_url) }}"
               alt="{{ image.alt }}"
               title_banner="{{ image.title }}"
          />
        <div class="box-content">
          {% if(title_banner and title_display == 'about') %}
            <h3 class="title_banner title-display-{{ title_display }}">{{ title_banner }}</h3>
          {% endif %}
          {% if(text_banner and text_display == 'about') %}
            <div class="text_banner text-display-{{ text_display }}">{{ text_banner }}</div>
          {% endif %}
        </div>
        {% endif %}
        {% if(link|render) %} </a> {% endif %}
      {% if(title_banner and title_display == 'after') %}
        {% if(link|render) %} <a href="{{ link }}"> {% endif %}
        <div class="title_banner title-display-{{ title_display }}">{{ title_banner }}</div>
        {% if(link|render) %} </a> {% endif %}
      {% endif %}
      {% if(text_banner and text_display == 'after') %}
        <div class="text_banner text-display-{{ text_display }}">{{ text_banner }}</div>
      {% endif %}
    </div>
  {% endblock %}
</section>
